{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <br>
    <br>
    <div class="index-header in-h1">
        <p>Why giving books?</p>
    </div>
    <div class="index-data index-1prg">
        </p><img class="index-image img1" src="/static/index/index1.jpg" alt="Bookshelves">
        Giving comes in a lot of different forms and it is one of the most happy way to increase life happiness. 
        On the other hand, people mostly read a book once and then leaved it on the shelves. So there's no reason
        to just let such an amazing thing covered with grime, we can alternately give it to others!</p>        
    </div>
    <div class="index-header in-h2">
        <p>Book Giving Project</p>
    </div>
    <div class="index-data index-2prg">
        </p><img class="index-image img2" src="/static/index/index2.jpg" alt="Books">
        Book Giving Project is a platform provide you an ability to connect to people in your location. You can either 
        giving your books out or recieving books from others. All you wanna do is go to the 
        <span style="font-weight: bold">Gallery</span> section to see what others want to give out or go to the 
        <span style="font-weight: bold">Giving</span> section to post your book to the local user. 
        </p>
    </div>
    <div class="index-header in-h3">
        <p>How to use?</p>
    </div>
    <div class="index-data index-3prg">
        </p><img class="index-image img3" src="/static/index/index3.png" alt="Books">
            <p>- Go to <a href="/gallery" style="font-weight: bold; color:#000">Gallery </a>to see what book others have posted.</p>
            <p>- Go to <a href="/giving" style="font-weight: bold; color:#000">Giving </a>to giving your book out</p>
            <p>- Go to <a href="/blogs" style="font-weight: bold; color:#000">Blogs </a>to share your experiences and connect with each others</p>
        </p>        
    </div>
{% endblock %}